.font1 {
    font-family: 'Montserrat', sans-serif;
}

.font2 {
    font-family: 'Exo', sans-serif;
}

.font3 {
    font-family: "Libre Baskerville", serif;
}

.circled {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
}

.circled:before,
.circled:after {
    content: '\200B';
    display: inline-block;
    line-height: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
}

.circled:before {
    padding-left: 8px;
}

.circled:after {
    padding-right: 8px;
}