#current-sn {
    color: red;
    padding-left: 1rem;
    font-size: 10em;
    text-align: center;
}

#current-sn-step {
    color: gray;
    padding-left: 1rem;
    font-size: 2em;
}

#todos {
    color: lightgray;
}

#copyright {
    color: gray;
}