@import url('https://fonts.googleapis.com/css?family=Vast+Shadow|Sarina|Kalam|Comfortaa:700');

body {
    background-image: url("../images/Yogastha_logo.svg");
    background-repeat: repeat-x repeat-y;
    background-size: 50%;
    background-attachment: fixed;
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
}

#count-display {
    text-align: center;
}

input[type=number] {
    width: 5em;
}

#current-sn {
    font-family: 'Vast Shadow', cursive;
    color: red;
    font-size: 10em;
}

#current-sn-step {
    font-family: 'Sarina', cursive;
    color: gray;
    padding-left: 1rem;
    font-size: 2em;
}

#todos {
    color: lightgray;
}

#copyright {
    color: gray;
}

#sn-pos-img-div{
    position: absolute;
    height: 100%; 
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 1.0;
}

#sn-benefits {
    font-family: 'Comfortaa', cursive;
    color: rgb(112, 112, 112);
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: justify;
}

.show-sn-image-div {
    transform: scale(1.0);
    transition: transform 0.5s;
}

.hide-sn-image-div {
    transform: scale(0.0);
}

.description-panel {
    background: rgb(253, 241, 201);
    color: rgb(94, 0, 0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    font-family: 'Kalam', cursive;
    font-size: 1.2em;
}

.description-panel img {
    float: left;
    height: 9em;
    margin-right: 20px; 
    margin-bottom: 10px;
}