@import url('https://fonts.googleapis.com/css?family=Vast+Shadow|Sarina');

#count-display {
    text-align: center;
}

input[type=number] {
    width: 5em;
}

#current-sn {
    font-family: 'Vast Shadow', cursive;
    color: red;
    font-size: 10em;
}

#current-sn-step {
    font-family: 'Sarina', cursive;
    color: gray;
    padding-left: 1rem;
    font-size: 2em;
}

#todos {
    color: lightgray;
}

#copyright {
    color: gray;
}